langchain
langchain-community
langchain-openai

chromadb

openai

fastapi
python-multipart
uvicorn

streamlit
requests

pymupdf

rank-bm25

sentence-transformers

python-dotenv

pydantic

tqdm

pandas

numpy
