langchain
langchain-community
langchain-openai

chromadb

openai
groq
google-generativeai

fastapi
python-multipart
uvicorn

streamlit
requests

pymupdf

rank-bm25

sentence-transformers
transformers
torch

python-dotenv

pydantic

tqdm

pandas
numpy